@{
    ViewData["Title"] = "Отображение данных";
}

<h2>Данные о киностудии</h2>

<p>Идентификатор: @ViewBag.Id</p>
<p>Название: @ViewBag.Name</p>
<p>Адрес: @ViewBag.Address</p>
<p>Наличие проектора: @ViewBag.HasProjector</p>
<p>Открыто: @ViewBag.IsOpen</p>
<p>Контактный Email: @ViewBag.ContactEmail</p>
